extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        h1= "Tweet Stream"
      .navbar-left
        form#form-set-keyword
          input(
            type='text'
            name='keyword'
            placeholder='Keyword or hashtag'
          )
        h3#current-keyword 'love'

      .navbar-right
        span.glyphicon.glyphicon-repeat(aria-hidden="true")
        #tweet-counter
          h3 1 tweet every&nbsp;
          h3#tweet-speed 2
          h3 &nbsp;seconds
        h3#realtime Real Time
        button#faster.btn.btn-default Faster
        button#slower.btn.btn-default Slower
        button#pause.playing.btn.btn-default Pause

  #tweetFlash.well.tweet
    p Enter keyword to get started.
  #tweets

