extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        h1= "Tweet Stream"

      .navbar-right
        button#faster.btn.btn-default Faster
        button#slower.btn.btn-default Slower
        button#pause.playing.btn.btn-default Pause

  #tweets

